@import "@styles/variables";
@import "@styles/colors";

.content {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
}

.message {
  margin: 0;
  color: $text-default;
  font-size: $font-size-md;
  line-height: 1.5;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: $spacing-md;
}
